img {
    width: 50%;
    height: auto;
}

body{
    background-color: antiquewhite;
}

a {
color: #1EAEDB; }
 
a:hover {
color: #091f25; }

.container {
    margin: 10px;
}

.header-animation h1{
    animation-name: changeTextColor; 
    animation-duration: 6s;          
    animation-timing-function: linear;
}

@keyframes changeTextColor {
    0% {
        color: #ff0000; 
    }
    25% {
        color: #00ff00; 
    }
    50% {
        color: #0000ff; 
    }
    75% {
        color: #ffa500; 
    }
    100% {
        color: #ff0000; 
    }
}

.transition-box {
    width: 550px;
    height: 550px;
    background-color: rgb(84, 169, 255);
    border-radius: 10px; 
    margin: 50px; 

    transition: background-color 0.7s ease-in-out, border-radius 0.5s ease-out;
  }

  .transition-box:hover {
    background-color: rgb(96, 255, 167); 
    border-radius: 50%;       
  }
